.video-container {
    width: 100%;
    height: calc(100vh - 10rem);
    overflow: hidden;
}

.responsive-video {
    width: 100%;
    filter: blur(3px);
}

.imageContent {
    width: 50%;
    height: auto;
}


.videoContent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group {
    position: relative;
}

.imageContainer {
    background-color: red;
}

.profile-image {
    height: 8rem;
}

.typingText {
    position: relative;
    width: 80%;
    height: 100%;
    -webkit-clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: var(--bg-darkBlack-color);
    opacity: 0.8;
}

.typingText h5 {
    position: absolute;
    top: 10rem;
    left: 20rem;
    font-size: 20px;
}

.typingText h5::before {
    content: "";
    position: absolute;
    top: 1.4rem;
    background-color: var(--text-yellow-color);
    height: 0.1rem;
    width: 70%;

}

.text-content {
    position: absolute;
    top: 12rem;
    font-size: 4rem;
    left: 17rem;

}

.text-content h1,
h2 {
    font-family: 'Nunito Sans', sans-serif;
}

.text-content h1 span {
    color: var(--text-yellow-color);
    font-family: 'Ubuntu', sans-serif;
}

.profile-image {
    position: absolute;
    top: -10rem;
    filter: drop-shadow(0px 0px 5px red);
    width: 100%;

}